                    <!-- Left side column. contains the logo and sidebar -->
                    <aside class="left-side sidebar-offcanvas">
                        <!-- sidebar: style can be found in sidebar.less -->
                        <section class="sidebar">
                            <!-- Sidebar user panel -->
                            <div class="user-panel">
                                <div class="pull-left image">
                                    <img src="img/IMG_3196.JPG" class="img-circle" alt="User Image" />
                                </div>
                                <div class="pull-left info">
                                    <p>Welcome, {$name}</p>

                                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                                </div>
                            </div>
                            <!-- search form -->
                            <form action="#" method="get" class="sidebar-form">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                                    <span class="input-group-btn">
                                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                            <!-- /.search form -->
                            <!-- sidebar menu: : style can be found in sidebar.less -->
                            <ul class="sidebar-menu">
                                <li class="active">
                                    <a href="dashboard.php">
                                        <i class="fa fa-dashboard"></i> <span>控制面板</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="filedownload.php">
                                        <i class="fa fa-cloud-download"></i> <span>脚本下载</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="fileupload.php">
                                        <i class="fa fa-upload"></i> <span>配置上传</span>
                                    </a>
                                </li>
								
                                <li>
                                    <a href="configip.php">
                                        <i class="fa fa-cog"></i> <span>配置分析</span>
                                    </a>
                                </li>
								
								<li>
                                    <a href="interviewip.php">
                                        <i class="fa fa-exchange"></i> <span>访谈数据</span>
                                    </a>
                                </li>
								
								<li>
                                    <a href="riskip.php">
                                        <i class="fa fa-bug"></i> <span>风险评估</span>
                                    </a>
                                </li>
								
                            </ul>
                        </section>
                        <!-- /.sidebar -->
                    </aside>
                    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >LJ</a></div>

                    